{% extends 'myblog2/base.html' %} {% load staticfiles %} {% load bootstrap3 %} {% block menu %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'users_list' %}">Главная</a></li>
    {% if user.is_authenticated %} {% if name == request.user.username %}
    <li class="active"><a href="{% url 'list_of_posts' username=request.user %}">Мои записи</a></li>
    {% else %}
    <li><a href="{% url 'list_of_posts' username=request.user %}">Мои записи</a></li>
    {% endif %}
    <li><a href="{% url 'post_new' %}">Добавить пост</a></li>
    {% endif %}
</ul>
{% endblock %} {% block content %}
<div class="container text-left">
    <div class="row">
        <div class="col-md-3 col-lg-offset-0 text-left">
            <h1>{{ name }}</h1> {% if profile.avatar %}
            <img src={{ profile.avatar.url }}> {% else %}
            <img src="{% static 'images/noavatar.jpg' %}" /> {% endif %}
            <p><strong>Имя:</strong>{{ profile.first_name }}</p>
            <p><strong>Фамилия: </strong>{{ profile.second_name }}</p>
            <p><strong>Отчество: </strong>{{ profile.middle_name }}</p>
            <p><strong>Телефон: </strong>{{ profile.phone}}</p>
            <p><strong>Email:</strong> {{ profile.email }}</p>
            <p><strong>О себе:</strong></p>
            <p>{{ profile.description }}</p>
            {% if name == request.user.username %}
            <a class="btn btn-default btn-sm" href="{% url 'profile_edit' %}">Редактировать</a> {% endif %}
        </div>
        <div class="col-md-8">
            <h1>Посты пользователя {{ name }}</h1>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        {% if user_posts.has_previous %}
                        <a class="page-link" href=?page={{ user_posts.previous_page_number }} aria-label="<<<">
                              {% endif %}
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                    </li>
                    <li class="page-item disabled"><a class="" href="#">{{ user_posts.number }}
                            of {{ user_posts.paginator.num_pages }}</a></li>
                    <li class="page-item">
                        {% if user_posts.has_next %}
                        <a class="page-link" href=?page={{ user_posts.next_page_number }} aria-label=">>>">
                              {% endif %}
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                    </li>
                </ul>
            </nav>

            <div class="post">
                {% for post in user_posts %}
                <h2><a href="{% url 'post_detail' pk=post.pk  %}">{{ post.title }}</a></h2>
                <div class="date">
                    {{ post.published_date }}
                </div>
                <p>
                    <h4>{{ post.text }}</h4></p>
                {% if user.is_authenticated %}
                <a class="btn btn-primary btn-xs" href="{% url 'post_like2' pk=post.pk %}">
                    <span class="glyphicon glyphicon-heart"> LIKE </span></a>
                {{ post.likes }} {% endif %} {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
